.App {
  /* background-color: #282c34; */
  text-align: center;
  min-height: 100vw;
}

.timerScore{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {  
  color: #61dafb;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
